-i https://pypi.org/simple/
aniso8601==9.0.1
blinker==1.4
click==7.1.2
coverage==4.5.4
entrypoints==0.3
flake8==3.7.9
flask-cors==3.0.8
flask-debugtoolbar==0.10.1
flask-restful==0.3.7
flask-sqlalchemy==2.4.1
flask-testing==0.7.1
flask==1.1.1
greenlet==1.0.0 ; python_version >= '3'
gunicorn==20.0.0
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
mccabe==0.6.1
psycopg2-binary==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2021.1
six==1.15.0
sqlalchemy==1.4.2
werkzeug==1.0.1
